<!-- <br>
<div class="card">
    <div class="card-body">
        <ads-smart-comp></ads-smart-comp>
    </div>

</div>
<br>
<menu-smart-comp></menu-smart-comp> -->
<!-- <app-books-root></app-books-root>

<div class="footer">
    @copyright Mintex tech {{now | date : 'MM-dd-yyyy hh:mm:ss a'}}
</div> -->

<div class="card">
    <div class="card-header">
        All  my navigatios go here: We are going to learn this in Router module
    </div>
    <div class="card-body">
        <!-- <app-login></app-login> 
        <br>
        <br>
        <br>
        <br>
        <br>-->
        <app-books-root></app-books-root>
    </div>
    <div class="card-footer text-muted">
            @copyright Mintex tech {{now | date : 'MM-dd-yyyy hh:mm:ss a'}}
    </div>
</div>